
html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }





  /* LANDING STYLES */

  .hero-wrapper{
      background-image: url('../img/hero.jpg');
      background-size: cover;
      background-attachment: fixed;
      height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  .birds{
    width: 40%;
    position: relative;
    opacity: .8;
  }

  .hero-overlay{
    height: 100vh;
    width: 100vw;
    background-color: rgba(160,232,130, .1);
    position: relative;
  }

  .logo-div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }

  .logo-img{
      margin-left: 2em;
      width: 15%;
      opacity: .8;
  }

  

  .logo-h2{
    font-family: 'Expletus Sans', cursive;
    text-align: center;
    margin-left: 1em;
    font-size: 1.3em;
    color: #095617;
    letter-spacing: .1em;
  }

  .hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 80%;
    margin: auto;
    z-index: 3
  }

  .hero-h1{
    text-align: center;
    font-family: 'BioRhyme', serif;
    font-size: 2.1em;
    letter-spacing: .1em;
    font-weight: bold;
    color: #095617;
    text-transform: uppercase;
    animation: slide-right 1.3s ease-in-out;
    z-index: 3
  }

  .hero-p{
    margin-top: 2em;
    text-align: center;
    font-family: 'Expletus Sans', cursive;
    letter-spacing: .1em;
    font-weight: bold;
    color: black;
    animation: slide-right 1.6s ease-in-out;
    z-index: 3
  }

  .hero-p2{
    margin-top: 2em;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .1em;
    font-weight: bold;
    color: black;
    align-self: auto;
    animation: slide-right 1.8s ease-in-out;
    z-index: 3
  }



 
  /* ABOUT STYLES */

  .about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
  }

  .about-h1{
    font-family: 'Expletus Sans', cursive;
    text-align: center;
    margin: 2em 0 1.2em 0;
    font-size: 2em;
    color: #095617;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .about-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(48,59,72,.9);
    height: 600px;
    width: 90%;
    margin: auto;
    border-radius: 3px;
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
  }

  .about-p{
    width: 90%;
    margin: auto;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .1em;
    font-weight: bold;
    color: white;
  }


  /* SECTION DIVIDER STYLES */


  .section-divider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/divider.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
  }

  .section-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: rgba(160,232,130, .1);
  }

  .overlay-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(17,55,1, .8);
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
    width: 350px;
    height: 50px;
  }

  .divider-h2{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .1em;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
  }


  /* FLOWER SECTION STYLES */


  .flower-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 230vh;
    width: 100%;
  }

  .flower-p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: .1em;
    width: 80%;
    margin: auto;
  }


  .flower-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
    width: 90%;
    margin: auto;
    
  }


  .flower-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
  }

  .div-1{
    background-image: url('../img/african.jpg');
    background-size: cover;
  }

  .div-2{
    background-image: url('../img/alstro.jpg');
    background-size: cover;
  }

  .div-3{
    background-image: url('../img/azalea.jpg');
    background-size: cover;
  }

  .div-4{
    background-image: url('../img/bluebell.jpg');
    background-size: cover;
  }

  .flower-h3{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 60%;
    margin: auto;
    background-color:rgba(17,55,1, .7);
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
  }



  /* TREE SECTION STYLES */
  .flower-divider{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url('../img/divider2.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    width: 100%;
  }

  .flower-overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    background-color: rgba(160,232,130, .1);
  }

  .tree-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 240vh;
    width: 100%;
  }


  .tree-contain{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 1500px;
    width: 90%;
    margin: auto;
  }

  .tree-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 300px;
    margin: auto;
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
  }

  .div-5{
    background-image: url('../img/banyana.jpg');
    background-size: cover;
  }
  .div-6{
    background-image: url('../img/euca.jpeg');
    background-size: cover;
  }
  .div-7{
    background-image: url('../img/maga.jpg');
    background-size: cover;
  }
  .div-8{
    background-image: url('../img/maple.jpg');
    background-size: cover;
  }


  /* FOOTER STYLES */

  footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #0C2E00;
    height: 70vh;
    width: 100%;
    position: relative;
  }

  .footer-contain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background-color: rgba(160,232,130, .3);
  }

  .footer-h2{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    width: 60%;
    margin: auto;
  }
  
  address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 80%;
    margin: auto;
    text-align: center;
    background-color:rgba(17,55,1, .7);
    box-shadow: 5px 5px 5px 0px rgba(	33, 44, 60, .75);
  }

  .hangtree{
    width: 30%;
    position: relative;
  }

  address p{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin: auto;
    width: 40%;
  }



/* --------------------------------------------- MEDIA QUERIES ------------------------------------------------- */


  @media (min-width: 992px) { 
    .hero-text{
      
      width: 30%;
      margin-left: auto;
    }

    .birds{
      width: 50%;
      position: relative;
      opacity: .7;
    }

    .about-div{
      width: 50%;
      height: 600px;
    }

    .flower-wrapper, .tree-wrapper{
      height: 150vh;
    }

    .flower-contain, .tree-contain{
      flex-direction: row;
      flex-wrap: wrap;
    }

    .flower-div, .tree-div{
      height: 350px;
      width: 40%;
      transition: .8s transform ease-in-out;
    }

    .flower-div:hover, .tree-div:hover{
      transform: scale(1.1);
      
    }


    address{
      width: 50%;
      
    }

    .footer-contain{
      height: 80vh;
    } 

    footer{
      height: 80vh;
      justify-content: center;
    }

    .footer-h2{
      margin-bottom: 0;
    }

   }

   






  /* --------------------------------------------- KEYFRAMES ANIMATIONS ------------------------------------------------- */


  .focus-in-expand {
    -webkit-animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: focus-in-expand 1.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  
  


/* ----------------------------------------------
 * Generated by Animista on 2020-9-29 10:51:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }

  to {
    transform:translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

/* ------------------------------------------------ */

.custom-shape-divider-bottom-1601371525 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601371525 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom-1601371525 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1601371525 svg {
      width: calc(300% + 1.3px);
      height: 140px;
  }
}

/* ------------------------------------------------ */


.custom-shape-divider-top-1601372494 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1601372494 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1601372494 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1601372494 svg {
      width: calc(186% + 1.3px);
      height: 88px;
  }
}

/* ------------------------------------------------ */

.custom-shape-divider-bottom-1601373666 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1601373666 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 140px;
}

.custom-shape-divider-bottom-1601373666 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-bottom-1601373666 svg {
      width: calc(300% + 1.3px);
      height: 88px;
  }
}

/* ------------------------------------------------ */

.custom-shape-divider-top-1601379037 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1601379037 svg {
  position: relative;
  display: block;
  width: calc(184% + 1.3px);
  height: 140px;
}

.custom-shape-divider-top-1601379037 .shape-fill {
  fill: #FFFFFF;
}

/** For mobile devices **/
@media (max-width: 767px) {
  .custom-shape-divider-top-1601379037 svg {
      width: calc(300% + 1.3px);
      height: 88px;
  }
}



